/* Main CSS Code for the About Me Page Specifically */

/* Color Codes For Reference */
/* BLack-ish Green == #021405 */
/* Green == #9AFF80 */
/* Blue == #B3C2F2 */
/* White == #E1E1E1 */
/* Purple == #FF4BF0 */

#portraitPicture {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  height: 200px;
}

/* Code for Accordian Menu (From Supfort)*/

article input {
  display: none;
}

label {
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  background: #021405;
  border-radius: 3px;
  border: 1px solid #9AFF80;
  color: #E1E1E1;
  transition: ease 0.5s;
  position: relative;
}

label:hover {
  background: #9AFF80;
  color: #021405;
}

.FQAcontent {
  background: #021405;
  padding: 10px 25px;
  border: 1px solid #9AFF80;
  margin: 0 0 1px 0;
  border-radius: 3px;
}

article input + label + .FQAcontent {
  opacity: 0;
  height: 0;
  font-size: 0;
  padding: 0 25px;
  transition: ease 0.5s;
}

article input:checked + label + .FQAcontent {
  opacity: 1;
  height: 120px;
  font-size: 16px;
  padding: 10px 25px;
}

label::after {
    content: '+';
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 2px;
}

article input:checked + label::after {
    content: '-';
    right: 14px;
    top: 3px;
}
