/* Main CSS Code that Applies to Most Pages */
/* Color Codes For Reference */
/* Purple == #FE40FB */
/* Green == #86EE86 */

body {
  background-color: black;
  color: #86EE86;
}

a {
  color: #FE40FB;
}

#topOfPage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

#middle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

#middle .sides {
  padding-left: 25px;
  padding-right: 25px;
}

#bottomOfPage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* Some of code is modified from W3Schools to create button and arrow for buttom */
#goToTopButton {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #FE40FB;
  color: white;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

#goToTopButton #arrow {
  position: fixed;
  bottom: 62px;
  right: 23px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inherit;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* Code from webaim.org but modified a bit */
/* Used to create accessibility tab skiptocontent button */
#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-bottom-right-radius:8px;
	background:#FE40FB;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#skiptocontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

@media (prefers-reduced-motion: reduce) {
	#skiptocontent a {
		transition-duration: 0.001ms !important;
	}
}
